<!DOCTYPE html>
<html>
<head>
    <title>歡迎光臨，這是會員頁面</title>
    <meta chartset="utf-8">
</head>
<style>
body{
    text-align: center;
    margin: 0;padding: 0;
}
.head{
    background-color: skyblue;
    color: azure;
    height: 200px;line-height: 200px;
    font-size: 40px;
}
.ctx{
    margin: 10px;
}
</style>
<body>
<div class="head">歡迎光臨，這是會員頁面</div>
<div class="ctx">恭喜您，成功登入系統</div>
<button type="submit" onclick="window.location = 'http://localhost:3000/signout'">登出
</button>
</body>
</html>